<section>
 <div class="row">
     <div class="col-md-10">
          <ul class="nav nav-tabs nav-justified" id="statusBoardStatusTab">
              <li class="success" ><a href="#">
                        <p>Market data</p>
                       <span>Received</span>
                   </a></li>
              <li class="success"><a href="#">
                        <p>Agency data</p>
                      <span>Received</span>
                  </a></li>
              <li class="active"><a href="#">
                         <p>Bookings matched</p>
                    <span>75%</span>
                </a></li>
              <li class="tbd"><a href="#">
                       <p>Agency approval</p>
                      <span>Not Started</span>
                  </a></li>
              <li class="tbd"><a href="#">
                        <p>Pooling</p>
                      <span>0%</span>
                  </a></li>
           </ul>
         <div class="row">
             <div class="col-md-10"><h3>March 2014</h3></div>
             <div class="col-md-2">
                 <div class="calendar-controller">
                     Today | <button><i class="fa fa-angle-left"></i></button><span>|</span><button><i class="fa fa-angle-right"></i></button>
                 </div>
             </div>
         </div>
         <div class="row">
             <table class="table table-condensed" id="statusBoardCalendarMonthTable">
                 <thead>
                     <tr>
                         <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><div>Today</div></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>                       
                     </tr>
                     <tr class="active">
                         <td></td>
                         <td>1</td>
                         <td>2</td>
                         <td>3</td>
                         <td>4</td>
                         <td>5</td>
                         <td>6</td>
                         <td>7</td>
                         <td>8</td>
                         <td>9</td>
                         <td>10</td>
                         <td>11</td>
                         <td>12</td>
                         <td>13</td>
                         <td>14</td>
                         <td>15</td>
                         <td>16</td>
                         <td>17</td>
                         <td>18</td>
                         <td>19</td>
                         <td>20</td>
                         <td>21</td>
                         <td>22</td>
                         <td>23</td>
                         <td>24</td>
                         <td>25</td>
                         <td>26</td>
                         <td>27</td>
                         <td>28</td>
                         <td>29</td>
                         <td>30</td>
                         <td>31</td>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td>Market Data</td><td></td><td></td>
                         <td style="padding-right: 0; padding-left: 0">
                             <div style="background-color: rgb(83,205,124);display: block;width: 100%; position: static;">&nbsp;</div>
                         </td>
                         <td></td><td></td><td></td>
                         <td style="padding-right: 0">
                            <div style="background-color: rgb(83,205,124);display: block;width: 100%; position: static;">&nbsp;</div>
                         </td>
                         <td style="padding-left: 0; border-left: 0">
                             <div style="background-color: rgb(83,205,124);display: block;width: 50%; position: relative; float: left">
                                 &nbsp;
                                 <!-- Generated markup by the plugin -->
                                 <div class="fade top in" style="display: block; width: 500px; z-index: 0; position: absolute; top: -50px; left: 100%;">
                                     <div class="tooltip right" style="filter: alpha(opacity=0.7); opacity: 0.7">
                                         <div class="tooltip-inner" style="text-align: left; padding: 15px;">
                                             <div class="calendar-detail-title"><strong style="font-weight: bolder">Market Data <i class="fa fa-circle" style="color: rgb(83,205,124); float: right"></i></strong></div>
                                             <div class="calendar-detail-subtitle">Uploaded on</div>
                                             <div class="calendar-detail-content">04 Mar 2014<br />
                                                 07 Mar 2014</div>


                                             <div class="calendar-detail-subtitle">Notes</div>
                                             <div class="calendar-detail-content">
                                                 Finalise by market - <br>
                                                 National and Metro only<br>
                                                 and send
                                             </div>
                                         </div>
                                         <div class="tooltip-arrow" style="top: 60px;"></div>
                                     </div>
                                 </div>
                                 <!--  -->
                            </div>
                         </td>
                         <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>                       
                     </tr>
                     <tr>
                         <td>Agency Data</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td  style="padding-right: 0; padding-left: 0"> <div style="background-color: rgb(83,205,124);display: block;width: 100%; position: static;">&nbsp;</div></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>                       
                     </tr>
                     <tr>
                         <td>Spot Matching</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td  style="padding-right: 0; padding-left: 0; border-right: 0;"><div style="background-color: rgb(238,125,4);display: block;width: 50%; position: static; float: right;">&nbsp;</div></td><td style="padding-right: 0; padding-left:0 ;border: 0;"><div style="background-color: rgb(238,125,4);display: block;width: 100%; position: static;">&nbsp;</div></td><td style="border-left:0; padding-left: 0;"><div style="background-color: rgb(238,125,4);display: block;width: 50%; position: relative; float: left;">&nbsp;


                             <!-- Generated markup by the plugin -->
                                 <div class="fade top in" style="display: block; width: 500px; z-index: 0; position: absolute; top: -50px; left: 100%;">
                                     <div class="tooltip right" style="filter: alpha(opacity=0.7); opacity: 0.7">
                                         <div class="tooltip-inner" style="text-align: left; padding: 15px;">
                                             <div class="calendar-detail-title"><strong style="font-weight: bolder">Market Data <i class="fa fa-circle" style="color: rgb(83,205,124); float: right"></i></strong></div>
                                             <div class="calendar-detail-subtitle">Uploaded on</div>
                                             <div class="calendar-detail-content">04 Mar 2014<br />
                                                 07 Mar 2014</div>


                                             <div class="calendar-detail-subtitle">Notes</div>
                                             <div class="calendar-detail-content">
                                                 Finalise by market - <br>
                                                 National and Metro only<br>
                                                 and send
                                             </div>
                                         </div>
                                         <div class="tooltip-arrow" style="top: 60px;"></div>
                                     </div>
                                 </div>
                                 <!--  -->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </div></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>                       
                     </tr>
                     <tr>
                         <td>Agency Approval</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>                       
                     </tr>
                     <tr>
                         <td>Benchmarks</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><i class="fa fa-play fa-rotate-270" style="color: rgb(223,10,113)"></i></td><td></td><td></td>                       
                     </tr>
                     <tr>
                         <td>Presentation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><i class="fa fa-circle" style="color: rgb(223,10,113)"></i></td>                       
                     </tr>
                 </tbody>
             </table>
         </div>
         <div class="row" id="statusBarBottomBar" >
             <div class="col-md-4" id="statusBoardAvailableReports">
                 <h5><span>2</span> <span>Available Reports</span></h5>
                 <ul>
                     <li class="check-circle"><span>Agency Data Checkpoint</span><span><a>View</a></span></li>         
                     <li class="check-circle"><span>Agency Data Approval</span><span><a>View</a></span></li>   
                     <li class="circle-o"><span>Baseline Approval</span></li>   
                     <li class="circle-o"><span>Baseline Position</span></li>   
                 </ul>
             </div>
             <div class="col-md-4" id="statusBoardToDos">
                 <h5><span>2</span> <span>TO DOs</span></h5>
                    <ul>
                        <li><span>Upload Spot Data</span><span><a class="todo-done">Done</a></span></li>         
                        <li><span>Fix Data Upload Exceptions</span><span><a class="todo-active">Active</a></span></li>  
                        <li><span>Review 38 Unmatched Spots</span><span><a class="todo-active">Active</a></span></li>  
                        <li><span>Approve Data Checkpoint Report</span><span><a class="todo-pending">Pending</a></span></li>  
                        <li><span>Approve Data</span><span><a class="todo-pending">Pending</a></span></li>  
                        <li><span>Review and Approve Baselines</span><span><a class="todo-pending">Pending</a></span></li>  


                    </ul>
             </div>
             <div class="col-md-4"  id="statusBoardAlerts">
                 <h5><span>2</span> <span>Alerts</span></h5>
                    <ul>
                        <li><span>12 Unmonitored Stations Uploaded</span><span><a>01 Mar 2014</a></span></li>         
                        <li><span>Agency Data Uploaded</span><span><a>01 Mar 2014</a></span></li> 
                        <li><span>Market Data Uploaded</span><span><a>01 Mar 2014</a></span></li> 
 
                    </ul>
             </div>
         </div>
     </div>
     <div class="col-md-2" id="statusBoardRecentActivity">
         <h5>Recent activity</h5>
         <!-- ACCORDION -->
            <div class="panel-group" id="accordion">
  <div class="panel panel-default recent-activity-day">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseToday">
          Today
        </a>
      </h4>
    </div>
    <div id="collapseToday" class="panel-collapse collapse in">
      <div class="panel-body">
        
                <div class="panel panel-default">
                <div class="panel-heading recent-activity-day-action">
                  <h4 class="panel-title approved">
                      <a data-toggle="collapse" href="#collapseTodayMatched">
                      Approved
                    </a>
                  </h4>
                </div>
                <div id="collapseTodayMatched" class="panel-collapse collapse in">
                  <div class="panel-body">
                      Agency Baseline Data
                      <div>Today at 2:34pm</div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading recent-activity-day-action">
                      <h4 class="panel-title sent-for-approval">
                          <a data-toggle="collapse" href="#collapseTodayUploaded">
                              Sent for approval
                          </a>
                      </h4>
                  </div>
                  <div id="collapseTodayUploaded" class="panel-collapse collapse in">
                      <div class="panel-body">
                          Agency Baseline Data
                          <div>Today at 2:34pm</div>
                      </div>
                  </div>
              </div>

      </div>
    </div>
  </div>

 
</div>
         
         <!--  -->
         
            <div class="panel-group" >
              <div class="panel panel-default recent-activity-day">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseYesterday">
                      Yesterday
                    </a>
                  </h4>
                </div>
                <div id="collapseYesterday" class="panel-collapse collapse in">
                  <div class="panel-body">
        
                            <div class="panel panel-default">
                            <div class="panel-heading recent-activity-day-action">
                              <h4 class="panel-title approved">
                                <a data-toggle="collapse" href="#collapseYesterdayMatched">
                                  Approved
                                </a>
                              </h4>
                            </div>
                            <div id="collapseYesterdayMatched" class="panel-collapse collapse in">
                              <div class="panel-body">
                                     Agency Baseline Data
                                      <div>Today at 2:34pm</div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                              <div class="panel-heading recent-activity-day-action">
                                  <h4 class="panel-title received">
                                      <a data-toggle="collapse" href="#collapseYesterdayUploaded">
                                          Received
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseYesterdayUploaded" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                            Market Data
                                      <div>Today at 2:34pm</div>
                                  </div>
                              </div>
                          </div>
                      
                          <div class="panel panel-default">
                              <div class="panel-heading recent-activity-day-action">
                                  <h4 class="panel-title agency-review">
                                      <a data-toggle="collapse" href="#collapseYesterdayReview">
                                          Agency review
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseYesterdayReview" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                         35 spots flagged for review
                                            <div>Today at 2:34pm</div>
                                  </div>
                              </div>
                          </div>
                  </div>
                </div>
              </div>
 
            </div>
         <!-- /ACCORDION -->
         
          <!-- HTML to write -->
 
   
     </div>
</div>
</section>
