globalConfig = {
    "GipServicesUrl": "ServiceUrl",
    "AuthentificationConfig": "ServiceUrl",
    "Authorization": "Authorization",	// Authorization in header
    "Login": "name",
    "Role": "role"
}