<!-- Navbar -->
<header class="header-area mb-20">
  <div class="z-50 navbar p-4 fixed top-0 left-0 right-0 z-50 bg-white shadow-lg border-none">
    <div class="navbar-start" hx-get="/lit/header/navMenu.html" hx-trigger="load delay:0s"></div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl" href="https://htmx.org/docs/#ajax">HTMX</a>
    </div>
    <div class="navbar-end" hx-get="/lit/header/iconSearch.html" hx-trigger="load delay:0s"></div>
  </div>
</header>
<!-- End-Navbar -->
