<section class="breadcrumb-present" id="summaryMatch">

    <div class="row">
        <div class="actionsDescriptor">Filters</div>
        <div class="btn-group">
            <div type="button" class="badge">
                Region     
                <div type="button" class="dropdown-toggle badge" data-toggle="dropdown">

                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="btn-group">
            <div type="button" class="badge">
                Duration     
                <div type="button" class="dropdown-toggle badge" data-toggle="dropdown">

                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    <table class="table table-striped" id="summaryMatchTable">
        <thead>
             <tr>
                <th></th>
                <th colspan="3">Unmatched</th>   
                <th colspan="3">Matched</th>
            </tr>
            <tr>
                <th></th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Value</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
              <tr class="total">
                <td>Total</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>100</td>
                <td>$20</td>
                <td>$12,000</td>
                <td></td>
            </tr>
            <tr class="I-half tree-level-1">
                <td><i class="fa fa-caret-down"></i> Brand A</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>100</td>
                <td>$20</td>
                <td>$12,000</td>
                <td></td>
            </tr>
            <tr class="T tree-level-2">
                <td><i class="fa fa-caret-right"></i> Campaign A</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>100</td>
                <td>$20</td>
                <td>$12,000</td>
                <td></td>
            </tr>
            <tr class="I tree-level-3">
                <td>Station A</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>100</td>
                <td>$20</td>
                <td>$12,000</td>
                <td></td>
            </tr>
            <tr class="info I tree-level-3">
                <td>Station B</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#MatchDetails" class="matchLink"> Match <i class="fa fa-angle-right"></i></a></td>
            </tr>
            <tr class="I tree-level-3">
                <td>Station C</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr class="I tree-level-3">
                <td>Station D</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>100</td>
                <td>$20</td>
                <td>$12,000</td>
                <td></td>
            </tr>
            <tr class="L tree-level-2">
                <td><i class="fa fa-caret-down"></i> Campaign B</td>           
                <td>600</td>   
                <td>$20</td>
                <td>$12,000</td>
                <td>100</td>
                <td>$20</td>
                <td>$12,000</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</section>
